/*styles go here*/

/*p {
  color: red;
}
p {
  color: blue;
}*/
body {
  background-color: #F8ECC2;
  font-family: Helvetica, Arial, sans-serif;
}

nav ul li {
    display: block;
    border-top: 1px #black solid;
}

nav a {
    color: #red;
    display: block;
    text-decoration: none;
    padding: 20px 30px;
}

header {
    display: flex;
    flex-flow: row;
    background-color: #black;
    margin: 0;
    padding: 0 10px;
}

.menu-trigger {
    order: 1;
    font-size: 1.75em;
    width: 2em;
}

header h1 {
    order: 2;
    font-size: 2em;
}

nav ul {
    display: none;
}

/* this is from class monday
@media screen and (min-width: 480px) {
  p{
    width: 90%;
    margin: 1em auto;
  }
  .mug {
  	width: 40%;
  	float: left;
  	margin-right:
  }
}

  @media screen and (min-width: 800px) {
    p {
    	width: 80%;
    	margin: 1.5em auto;
}
}
*/
/*
@media screen and (min-width: 1000px){
	p{
		width: 80%;
		max-width: 60em;
		margin: 1.5em auto;
	}

}
*/


@media screen and (min-width: 700px){

    nav ul {
        display: flex;
    }

    nav ul li {
        border-top: none;
    }

    .menu-trigger {
        display: none;
    }

    header h1 {
        order: 1;
    }

    nav {
        order: 2;
    }

}
