/*styles go here*/

/*p {
  color: red;
}
p {
  color: blue;
}*/
p {
    font-family: "Merriweather", Georgia, "Times New Roman", serif;
	font-size: 1rem;
	line-height: 1.5rem;
}

.italic {
	font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Merriweather Sans", Helvetica, Arial, sans-serif;
}

h1 {
	font-size: 2.5rem;
}

h2 {
	font-size: 1.5rem
}

body{
	background-color:#FFF;
}


#containter {
  width: 95%;
  margin: 0 auto;
}


#nav li {
    list-style-type: none;
    float: left;
    color: #ffffff;
    margin: 0;
    padding: 0;
    width: 25%;
}

#nav a:link, a:visited {
	display:block;
    color: #ffffff;
    background-color: #cccccc;
    font-weight: bold;
    text-align:center;
    text-decoration: none;
    padding: 4px;
    font-family: Helvetica, Arial, sans-serif;
}

#nav a:hover, a:active {
    background-color: #666666;
}

#nav2 li {
    list-style-type: none;
    float: left;
    color: #666666;
    margin: 0;
    text-align:left;
    padding: 0;
}

#nav2 a:link, a:visited {
    color: #262626;
    text-align:left;
    text-decoration: none;
    padding: 4px;
    font-family: Helvetica, Arial, sans-serif;
}

.caption {
    color: #262626;
    font-family: "Merriweather", Georgia, "Times New Roman", serif;
    font-style: italic;
    font-size: 1em;
    margin-top: 0;
    text-align: center;
}

#footer {
    color: white;
    background-color: #262626;
    font-family: Georgia, "Times New Roman", serif;
    font-size: 1em;
    border-top: 2px solid white;
}

img {
	border: none;
}
