/*styles go here*/

/*p {
  color: red;
}
p {
  color: blue;
}*/

p{
  color: #FFFFFF;
  font-family: Helvetica, Arial, sans-serif;
}

body {
  background: linear-gradient(to top, #ff0066 54%, #ff3399 100%);
}


#containter {
  width: 90%;
  margin: 0 auto;
}

#nav {
    padding: 0;
	list-style-type: none;
}
