/*styles go here*/

/*p {
  color: red;
}
p {
  color: blue;
}*/

p{
  color: #FFFFFF;
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
		color: #FFFFFF;
    font-family: Georgia, "Times New Roman", serif;
}

body {
  background: linear-gradient(to bottom, #ff0000 0%, #cc0000 100%);
}


#containter {
  width: 90%;
  margin: 0 auto;
}

#nav {
    padding: 0;
	list-style-type: none;
}

#nav li {
    margin: 0;
    padding: 0;
	border-bottom: 1px solid #ccc;
	text-decoration: none;
}
