/*styles go here*/

/*p {
  color: red;
}
p {
  color: blue;
}*/
p {
  color:#FFF;
    font-family: "Merriweather", Georgia, "Times New Roman", serif;
	font-size: 1rem;
	line-height: 1.5rem;
  width: 95%;
	margin: 0.8em auto;
}

.italic {
	font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Merriweather Sans", Helvetica, Arial, sans-serif;
    color:#FFF;
}

h1 {
	font-size: 2.5rem;
  padding-top: 10px;
}

h2 {
	font-size: 1.5rem;
}

body{
	background-color:#262626;
}

/*
#containter {
  width: 95%;
  margin: 0 auto;
} */


.navigation{
	list-style: none;
	margin: 0;
	background: red;
  font-family: Helvetica, Arial, sans-serif;
    padding: 0;
    display: flex;
	flex-flow: column;
}

.navigation a {
	text-decoration: none;
	display: block;
	color: white;
    text-align:center;
    padding: 10px;
    border-bottom:1px solid black;
}

.navigation li:last-of-type a{
  border-bottom: none;
}

.caption {
    color: #FFF;
    font-family: "Merriweather", Georgia, "Times New Roman", serif;
    font-style: italic;
    font-size: 1em;
    margin-top: 0;
    text-align: center;
}

.footer {
    color: white;
    background-color: red;
    font-family: Georgia, "Times New Roman", serif;
    font-size: 1em;
    border-top: 2px solid white;
}

.wrapper {
    display: flex;
    flex-flow: row wrap;
}


header, article, aside, footer {
  flex: 1 100%;
  padding: 10px;
}

#footer{
    order:4;
  }


@media (min-width:800px) {
.image {
	border: none;
  width: 30%;
  float: left;
}

.navigation {
    flex-flow: row wrap;
    justify-content: flex-end;
}

.navigation a {
    border: none;
}

.navigation a:hover {
  background: black;
}

aside {
    flex: 1 auto;
}

article {
flex: 3 0px;
}

.aside-1 {
    order: 2;
}

article {
    order: 1;
}

.aside-2 {
    order: 3;
    background-color: red;
}

.footer {
  order: 4;
}


article {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}


.image {
    width: 45%;
    margin-right: 10px;
}

.story {
    width: 45%;
}

.first {
    margin-top: 0;
}
}
/* this is from class monday
@media screen and (min-width: 480px) {
  p{
    width: 90%;
    margin: 1em auto;
  }
  .mug {
  	width: 40%;
  	float: left;
  	margin-right:
  }
}

  @media screen and (min-width: 800px) {
    p {
    	width: 80%;
    	margin: 1.5em auto;
}
}
*/
/*
@media screen and (min-width: 1000px){
	p{
		width: 80%;
		max-width: 60em;
		margin: 1.5em auto;
	}

}
*/


@media screen and (min-width: 600px){


  .pageBody {
    display: flex;
    flex-flow: row;
}
    .aside {
      flex: 3 auto;
      margin-right: 20px;
    }

    .aside-1 {
      flex: 1 auto;
    }

    .footer {
      order: 4;
    }

    .navigation li {
      border-right: none;
    }

}
@media screen and (min-width: 1000px){
/*
  p{
  		width: 80%;
  		max-width: 60em;
  		margin: 1.5em auto;
  	}
*/
  .wrapper {
    display: flex;
    flex-flow: column;
  }

  .navigation ul{
    display: flex;
    flex-flow: column;
    margin-right: 20px;
  }

  aside {
      background-color: #ADD8E6;
      padding: 10px
    }

  .navigation li {
      border-bottom: 1px solid rgba(255,255,255,0.5);
    }
    .navigation li:last-child {
      border-bottom: none;
    }

    .aside-2 {
      order: 1;
      margin: 10px;
    }

    .aside-1 {
      order: 3;
      margin: 10px;
    }

    .navigation {
      order: 2;
      margin: 10px;
    }

    .footer {
      order: 4;
    }

    .image, .caption {
      display: none;
    }

    header p{
		width: 70%;
		max-width: 60em;
		margin: 1.5em auto;
	}


}
